.container-carousel-habilidades,
.container-carousel-projetos {
   max-width: 90vw;
   max-height: 800px;
   margin: 0 auto;
    
}

.carousel-habilidades {
    display: flex;
    justify-content: center;
    height: 500px;
    padding: 10px 10px;
    border-radius: 5%;
   
}

.container-carousel-habilidades .carousel-habilidades .card-box {

    display: flex;
    flex-direction: column;

    margin: auto 10px;
    padding: auto 10px;
    max-height: 550px;
    width: 300px;
    flex: none;
    
    cursor: pointer;
    
    background-color: #64c27b;
    border-radius: 5%;
    box-shadow: 5px 5px 7px #1d1d1d;

    transition-duration: 0.6s, 0.4s;
    transition-timing-function: ease-in-out;
}


.carousel-habilidades .card-box .card-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 130px;
    margin: 10px auto 0 auto;
 
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;  
    transition-duration: 1.3s;
    transition-delay: 0.4s;
    transition-timing-function: ease-in-out;

}

.card-image img:hover {
    transition-property: filter, transform;
    transform: translateY(-20px) scale(1.2);
    filter: drop-shadow(2px 2px 6px #1d1d1d);

}


.card-descricao {
    text-align: center;
    width: 100%;
    min-height: 350px;
    padding: 25px 25px 10px 25px;
    border-radius: 0 0 5% 5%;
    
}

.card-descricao h4 {
    font-size: 40px;
    font-weight: bolder;
    padding-bottom: 20px;
    color: #1d1918;
    border-bottom: 2px solid #ee6339;
    text-transform: uppercase;
    
    
}

.card-descricao p{
    font-size: 17px;
    font-weight: bolder;
    text-align: justify;
    color: #070707;
    
}


.react-image:last-of-type {
    width: 190px;
    height: 180px;
}

.card-box:hover, .card-box-projetos:hover {
    transition-property: transform;
    transform: translateY(-10px);
    
}

.container-carousel-habilidades .buttons, .container-carousel-projetos .buttons{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
}

.container-carousel-habilidades .buttons button,
.container-carousel-projetos .buttons button{
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container-carousel-habilidades .buttons button img,.container-carousel-projetos .buttons button img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    background: transparent;
    cursor: pointer;
}

.container-carousel-habilidades .buttons button:first-child, .container-carousel-projetos .buttons button:first-child {
   transform: rotate(180deg);
}

.container-carousel-habilidades .carousel-habilidades::-webkit-scrollbar, .container-carousel-projetos .carousel-projetos::-webkit-scrollbar {
    display: none;
}

.carousel-projetos {
    display: flex;
   
    height: 500px;
    
    padding: 10px 10px;
    border-radius: 5%;
    overflow-x: auto;
    scroll-behavior: smooth;

}

.container-carousel-projetos .carousel-projetos .card-box-projetos {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
   
    
   flex: none;
   padding: 0 5px 20px 5px;
    margin: auto 12px;
    
    width: 300px;
    gap: 30px;
    box-shadow:5px 5px 7px #1d1d1d;
    border-radius: 5%;

    background-color: #eef0f2d4;

    transition-duration: 0.6s, 0.4s;
    transition-timing-function: ease-in-out;
}

.card-image-projetos img {
    width: 300px;
    object-fit: cover;
    border-radius: 5% 5% 0% 00%;
     
}

.card-descricao-projetos {
    text-align: justify;
    width: 85%;
    height: 100px;
    flex-grow: 1;

}

.card-descricao-projetos p{
    font-family: monospace, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;

}

.container-botao {
    display: flex;
    flex-wrap: nowrap;
}

.container-botao a {
    margin: 0 5px;
    text-decoration: none;
    color: #1d1d1d;
    font-weight: bold;
    box-shadow: 2px 2px 5px #2524247b;
    border-radius: 10%;
    padding: 5px 10px;
    background-color: #64c27b;

    transition-duration: 0.7s;
    transition-timing-function: ease-in;
}

.container-botao a:hover{
    color: #f99577;
    cursor: pointer;

    transition-property: transform;

    transform: scale(1.1);
}


@media screen and (max-width: 899px){
    .carousel-habilidades {
        overflow-x: auto;
        justify-content: flex-start;
        scroll-behavior: smooth;
        height: 700px;
        border-radius: 5%;

    }

    .container-carousel-habilidades .carousel-habilidades .card-box{
        margin: auto 70px;
        padding: auto;    
    }

    .container-carousel-projetos .carousel-projetos .card-box-projetos{
        margin: auto 70px;
        padding: auto;  
         
    }
}

@media screen and (min-width: 899px){
    .container-carousel-habilidades .buttons button{
        display: none;
    }
}
