@media only screen and (max-width: 880px){   

    @keyframes botaoActive {
        from{
            height: 0px;
            opacity: 0;
            visibility: hidden;
            border-radius: 0;
        }to{
            height:200px;
            opacity: 1;
            visibility: visible;
            border-radius: 0 0 15% 15%;
        }
        
    }
    @keyframes botaoInActive {
        from {
            height: 200px;
            opacity: 1;
            visibility: visible;
            border-radius: 0 0 15% 15%;
            
        }
        to {
            height: 0px;
            opacity: 0;
           visibility: hidden;
           border-radius: 0 0 0% 0%;
        }
        
    }

    @keyframes botaoActiveLi {
        from {
            opacity: 0;
           visibility: hidden;
        }
        to {
            opacity: 1;
           visibility: visible;
        }
        
    }

    @keyframes botaoInActiveLi {
        from {
            opacity: 1;
           visibility: visible;
        }
        to {
            opacity: 0;
           visibility: hidden;
        }
        
    }


   
    .menu-button{
        visibility: visible;
        z-index: 1;  
        font-size: 25px;
        font-weight: bold;
        color: #f7f7f7;
        text-shadow: 2px 2px 2px #000000;
        background: none;
        border: none;
        cursor: pointer;
       
    }

    
    .container-menu .menu ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        top: 0vh;
        right: -20px;
        width: 100vw;

        padding: 80px 10px 20px 10px;
        background-image: radial-gradient(#1b1b1bd2 0%, #141212cb 20%, #111010d3 80%);
        

    } 


    .menu.active ul {
        animation: botaoActive 0.7s ease-out 0s forwards ;
        
    }
    
    .menu.active li {
        animation: botaoActiveLi 1.5s ease-in 0s forwards ;
    }


    .menu.inactive ul{
        animation: botaoInActive 1.7s ease-in-out 0s forwards ;
        
    }

    .menu.inactive ul li{
        animation: botaoInActiveLi 0.5s ease-out 0s forwards ;
        
    }
    

    .box ul li p{
        display: none;
     }

     
}

@media only screen and (min-width: 375px) and (max-width: 415px) {

    .container-topo h3 {
        font-size: 25px;

    }
    
    
    .container-topo ul li a{
        text-decoration: none;
        color: #fff;
        
        font-size: 20px;
        
        
    }

    .banner {
        height: 70vh;
        
    }

    .container-banner {
        padding: 2vh 25px;
    }
    
    .titulo-banner h1 {
        font-size: 8cqmin;
    
    }

    .titulo-banner p{
        font-size: 7cqmin;
        margin: 20px 0;
        color: #3c3b37;
    }

    .container-imagens img {
        
        width: 55px;
        height: 55px;  
        
    }

    .container-imagens .imagem1 {
        
        bottom: 15vh;
        left: 42vw;   
        
    }

    .container-imagens .imagem2 {

        bottom: 25vw;
        right: 17vw;
        
    }

    .container-imagens .imagem3 {

        bottom: 15vw;
        left: 15vw;
    }

    .container-banner .imagem4 {
        bottom: -20vw;
        left: 3vw;
        width: 400px;
        height: 300px;
        
    }

    .secao-sobre, .secao-habilidades, .secao-projetos{
        padding-top: 40px;
    }

    .container-sobre img {
        display: none;
    }

    .container-contato {
    
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: center;
        gap: 30px;
        padding: 0 5px 60px 5px;
    }

    .container-contato .box h4{
        
        font-size: 20px;
       
    }

    .container-contato ul{
        display:flex;
        gap: 20px;
        flex-flow: row nowrap;
        align-items: center;
        justify-content:center ;
        cursor: pointer;
     
     }

     .container-contato ul li, .container-contato a{
        display:flex;
        align-items: center;
        flex-direction: column;
        color: #c9c6c6;
        
     }

     

}